body{
  font-family: serif;
  font-size: 20px; 
  background-color: #ea6b3f;
  padding: 20px;
} 
.boton{
  background-color: #ecd7cf;
  font-size: 17px;
  font-family: fantasy;
  padding: 20px;
  border-radius:5px;
  cursor:pointer;
}
.contenedor{
  background-color: white;
  margin: 50px auto;
  width: 400px; 
  padding: 30px;
  border-radius: 15px;
  text-align:center;
}

